html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.p5Canvas {
  display: block;
  position: relative;
}

.buttonUIWrapper {
  position: absolute;
  top: 40%;
  left: 150px;
  transform: translateX(-50%);
  z-index: 500;
}

button {
  margin: 0 1rem;
  cursor: pointer;
  background: none;
  border: 0;
  outline: none;
}

div.textWrapper {
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 500;
}

.textWrapper h3 {
  color: #fff;
  font-size: 2em;
}

span#minutes {
  font-size: 3em;
}
